.footer {
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  width: 100%;
  color: white;
  height: 70px;
  align-items: center;
  background-color: #282c34;
}

.footerInfo {
  display: inline-block;
  position: relative;
  font-size: 30px;
}

.footerInfo a {
  text-decoration: none;
  color: inherit;
}

.footerInfo a:hover {
  text-decoration: none;
  color: #61dafb;
}

.footer a:active {
  text-decoration: none;
  color: inherit;
}

@media (min-width: 768px) {
  .footer {
    height: 80px;
  }
  .footerInfo {
    font-size: 40px;
  }
}

@media (min-width: 992px) {
  .footer {
    justify-content: center;
  }
  .footerInfo {
    margin: 0 32px;
  }
}
