/* .Home {
  display: flex;
  flex-wrap: wrap;
  color: white;
  text-align: left;
  margin: 100px auto;
  width: 100%;
} */

.background{
  position: absolute;
  width: 100%;
  height: 90vh; 
  z-index: -10;
  background-size: cover;
  background-image: url('../../assets/images/homebackground.gif');
}
.homeInfo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  align-items: center;
  width: 100%;
  height: 85vh;
  padding: 24px 0;
  font-family: "Work Sans", sans-serif;
}
.title {
  line-height: 2;
  font-size: 48px;
}

.title h2{
  height: "80vh";
  display: block;
}

.paragraph {
  font-size: 18px;
  margin: 0 24px 24px;
  font-weight: 300;
}

.paragraph a {
  color: #61dafb;
  font-weight: 500;
}
.paragraph a:visited {
  text-decoration: none;
}

.paragraph a:hover {
  color: #61dafb;
  text-decoration: none;
}

@media (min-width: 768px) {
  .title {
    font-size: 60px;
  }
  .paragraph {
    font-size: 24px;
  }
}

/* @media (min-width: 1280px) {
  .title {
    font-size: 70px;
  }
  .paragraph {
    font-size: 32px;
  }
} */
