.Home {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  color: white;
  text-align: justify;
  margin-top: 100px;
  margin-left: 25%;
  width: 50%;
  margin-right: 25%;
}
.title {
  font-size: 75px;
  font-weight: bold;
  color: #61dafb;
}

.textContainer {
  display: flex;
  flex-wrap: wrap;
  text-align: justify;
  font-size: 25px;
  color: white;
  padding-bottom: 100px;
}
