* {
  background-color: #20232a;
  margin: 0px;
  padding: 0px;
}
.NavBar {
  display: block;
  background-color: #282c34;
  position: absolute;
  text-align: right;
  align-items: center;
  color: white;
  width: 100%;
  height: inherit;
}
.NavBar-link {
  display: inline-block;
  cursor: pointer;
  margin-top: 20px;
  font-size: 25px;
  padding-right: 15px;
  background-color: inherit;
}

.NavBar-link a:visited {
  background-color: inherit;
  color: white;
  text-decoration: none;
}
.NavBar-link a {
  color: white;
  text-decoration: none;
  background-color: inherit;
}
.NavBar-link a:hover {
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-color: #61dafb;
  background-color: inherit;
}

.NavBar-link a:active {
  color: #61dafb;
  text-decoration: none;
}

.NavBar-link_Home {
  float: left;
  font-size: 40px;
  padding-left: 3%;
  margin-top: 20px;
  background-color: #282c34;
}

.NavBar-link_Home a {
  text-decoration: none;
  color: inherit;
  background-color: #282c34;
}
.NavBar-link_Home a:hover {
  text-decoration: none;
  color: #61dafb;
  background-color: inherit;
}

.NavBar-link_Home a:active {
  text-decoration: none;
  color: #61dafb;
  background-color: #282c34;
}
